{% extends 'base.html.twig' %}

{% block title %}Ajouter une formation{% endblock %}

{% block body %}

<div class="row my-5"></div>

<div class="row mb-5">
            <div class="col-10 offset-1">
                <div class="card">
                    <div class="card-header">
                        <h2>Ajouter une entreprise</h2>
                    </div>
                    <div class="card-body">
                     {{ form_start(vueFormulaireEntreprise) }}
                        {{ form_row(vueFormulaireEntreprise.activite, {'attr':{'placeholder':"Ex : Développement web"}}) }}<br>
                        {{ form_row(vueFormulaireEntreprise.adresse, {'attr':{'placeholder':"Ex : 10 rue des sapins"}}) }}<br>
                        {{ form_row(vueFormulaireEntreprise.nom, {'attr':{'placeholder':"Ex : Solana"}}) }}<br>
                        {{ form_row(vueFormulaireEntreprise.url_site, {'attr':{'placeholder':"Ex : solanaDev.com"}}) }}
                        <br><br><button type="submit" class="btn btn-dark">Ajouter</button>
                    {{ form_end(vueFormulaireEntreprise) }}
                </div>
            </div>
        </div>
    </div>

<div class="row my-5"></div>
<div class="row my-5"></div>

{% endblock %}
